<div *ngIf="article">  
    <mat-card class="article-card"> 
        <mat-card-content>
            <span class="article-thumbnail">
                    <a [routerLink]= "['/articles', article.url]">
                        <img alt="" style="width:160px; height:90px;" [src]="getBanner()"> 
                    </a>
            </span>
            <span class="article-content">
                <h3><a [routerLink]= "['/articles', article.url]">{{ article.title }}</a></h3>
                <p>
                    <span>author: {{ article.author }}</span> |  
                    <span>Posted on {{article.publishDate | date: 'shortDate'}}</span>
                </p>   
            </span>
        </mat-card-content>
        
    </mat-card>
</div>