
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>
                {{ profile.Author }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ profile.Slogan }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="social-media-icons" >
                <a *ngFor="let link of profile.SocialMediaLinks" [href]="link.Url" target="_blank" [title]="link.Title"><mat-icon fontSet="fontawesome" [fontIcon]="link.Icon"></mat-icon></a>
            </div>
        </mat-card-content>
    </mat-card>
