---
import type { CollectionEntry } from 'astro:content';
import Pagination from './Pagination.astro';
import ArticleItem from './ArticleItem.astro';

interface Props {
  posts?: CollectionEntry<'article'>[],
  previous?: string,
  next?: string,
  size?: number,
}

const { posts, previous, next, size } = Astro.props;
---
<div class="container mx-auto px-3 py-0 lg:px-2 lg:pt-0">
  <div class="-m-0 flex flex-wrap md:-m-1">
    {
      posts?.slice(0, size)
      .map((p: any) => <ArticleItem post={p}/>)
    }
  </div>
</div>
{ (previous || next) && (
<Pagination previous={previous} next={next} />
)}

