---
const { previous, next } = Astro.props;
---
<div class="mt-10 bg-slate-100 px-2 py-0">
  <nav>
    <ul class="list-none flex justify-center">
      { previous && (
      <li>
        <a href={previous} class="relative block rounded bg-transparent px-3 py-1.5 text-xl text-blue-600 transition-all duration-300 hover:bg-slate-100 dark:text-blue dark:hover:bg-slate-700 dark:hover:text-white no-underline">
          Previous
        </a>
      </li>
      )}
      { next && (
      <li>
        <a href={next} class="relative block rounded bg-transparent px-3 py-1.5 text-xl text-blue-600 transition-all duration-300 hover:bg-slate-100 dark:text-blue dark:hover:bg-slate-700 dark:hover:text-white no-underline">
          Next
        </a>
      </li>
      )}
    </ul>
  </nav>
</div>

