---
import { getCollection } from 'astro:content';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Layout from '../../layouts/Layout.astro';
import ArticleList from '../../components/articles/ArticlesList.astro';

export async function getStaticPaths() {
  const articles = (await getCollection('article'))
    .filter((a: any) => a.data.visible);

  const years: number[] = articles.map((p: any) => 
    p.data.date.getFullYear()
  );

  return years.map((y: number) => {
    const posts = articles.filter((p: any) => {
      return p.data.date.getFullYear() === y;
    })
    .sort((a: any, b: any) => a.data.date.valueOf() - b.data.date.valueOf());

    return { params: { year: y }, props: { posts: posts }}
  });
};

const { posts } = Astro.props;
const { year } = Astro.params;
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} >
   <h2 class="mb-4 mt-4 px-2 uppercase text-slate-200">
     Articles published in { year }
   </h2>
   <ArticleList posts={posts || null} /> 
</Layout>



