<div >
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>
                Erik Craddock
            </mat-card-title>
            <mat-card-subtitle>
                Musician, Programmer, Troublemaker
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="latestImage" />
        <mat-card-content>
            <div class="social-media-icons">
                <a href="//github.com/evcraddock" target="_blank" title="GitHub"><mat-icon fontSet="fontawesome" fontIcon="fa-github"></mat-icon></a>
                <a href="//facebook.com/evcraddock" target="_blank" title="Facebook"><mat-icon fontSet="fontawesome" fontIcon="fa-facebook"></mat-icon></a>
                <a href="//pinterest.com/evcraddock" target="_blank" title="Pinterest"><mat-icon fontSet="fontawesome" fontIcon="fa-pinterest"></mat-icon></a>
                <a href="//instagram.com/evcraddock" target="_blank" title="Instagram"><mat-icon fontSet="fontawesome" fontIcon="fa-instagram"></mat-icon></a>
                <a href="//twitter.com/evcraddock" target="_blank" title="Twitter"><mat-icon fontSet="fontawesome" fontIcon="fa-twitter"></mat-icon></a>
                <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-rss"></mat-icon> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>