.avatar-image {
    background-image: url('http://erikvancraddock.com/css/images/avatar.jpg');
    background-size: cover;
  }

.fa, a {
    font-size: 24px;
    padding: 5px;
    color: gray;
}

.aboutme {
    width: 250px;
    padding: 5px;
}