
<mat-toolbar color="primary">
    <span><a class="titlelink" [routerLink]="['/']">ERIK.VAN.CRADDOCK</a></span>
    <span class="nav"></span>
    <button mat-button [routerLink] = "['/family']">
      Family
    </button>
    <button mat-button [routerLink] = "['/ideas']">
      Ideas
    </button>
    <button mat-button [routerLink] = "['/work']">
      Work
    </button>
    <a mat-button href="http://erikvann.com" target="_new">
      Music
    </a>
    <span class="nav-spacer"></span>
    <!-- <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button> -->
  </mat-toolbar>
