---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const posts = (await getCollection('article')).filter((a) => a.data.visible)
const tags = [...new Set(posts.map((p) => p.data.tags).flat())];
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
		<main>
			<section>
				<ul>
					{
          tags.map((t) => {
          return (
						<li>
              <a href={`/tags/${t}`}>{t}</a>
						</li>
          )})
				</ul>
			</section>
		</main>
</Layout>

