---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
	<main>
    <h2 class="text-white">About Me</h2>
		<p class="text-slate-200">
      I am a musician, writer and software developer not necessarily in that order depending on the day. This website serves as a sort of haphazard living autobiography. 
    </p>

		<p class="text-slate-200">
      I would like to state that it is written for an audience of one, me, but that would be a lie. I suffer just enough from megalomania to believe that others might be interested in my ramblings. 
    </p>

		<p class="text-slate-200">
Practically speaking this website is a platform for documenting my ever evolving interests, ideas and life experiences.
    </p>
	</main>
</Layout>
