<mat-card class="article-card" *ngIf="article">
    <div><img mat-card-image *ngIf="article.banner" [src]="article.banner" alt=""/></div>
    <span class="article-header">
        <h1 class="article-title">{{ article.title }}</h1>
    </span>
    <mat-card-content>
        <span class="icon-content"><mat-icon>person</mat-icon>{{ article.author }}</span> 
        <span class="icon-content"><mat-icon>event_note</mat-icon>{{article.publishDate | date: 'longDate'}}</span> 
        <span class="icon-content" *ngFor="let cat of article.categories">
            <mat-icon>label</mat-icon> <a class="capitalize" [routerLink]="['/', cat]">{{cat}}</a>
        </span>
        <p class="article-entry" [innerHtml]="article.content"></p>
    </mat-card-content>
    <mat-card-actions>
        <span class="icon-content" style="float: right;" *ngFor="let tag of article.tags">
            <mat-icon>label_outline</mat-icon> {{tag}}
        </span>
        <br/>
    </mat-card-actions>
</mat-card>