---
---
<div class="w-full bg-slate-500 shadow flex flex-col p-3">
  <img class="mx-auto w-64" src='/profile.jpg' /> 
  <a href="/about" class="w-full text-slate-700 font-bold text-lg uppercase rounded hover:text-slate-400 flex items-center justify-center px-1 py-1 mt-1">
    ERIK CRADDOCK
  </a>
  <p class="px-2 pt-1 pb-1 text-slate-200 font-bold justify-center">Musician, Programmer, Troublemaker</p>
</div>
        

