<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="space-between start"  fxLayout.xs="column" fxFlexFill>
    <div fxFlex="none" style="width:300px">
        <app-about-me></app-about-me>
    </div>

    <div fxFlex="none" style="width: 700px">
        <h2 class="capitalize">Articles</h2>
        
        <div *ngIf="hasArticles()">
            <span *ngFor="let article of pagedArticles">
                <articles-summaryitem style="padding: 5px;" [article]="article"></articles-summaryitem>
            </span>
            <mat-paginator
                [length]="articles.length"
                [pageSize]="pagesize"
                (page)="pageEvent = changePage($event)">
            </mat-paginator>
        </div>

        <div *ngIf="!hasArticles()">
            No articles were found!
        </div>
    </div>

    <div fxFlex="none" style="width:300px">
            
    </div>

    <div fxFlex="50">
            
    </div>
</div>