.icon-content {
    vertical-align: middle; 
    display:inline-flex; 
    font-size:16px; 
    padding-right: 10px;
}

.article-thumbnail {
    float: left;
    padding: 10px;
}

.article-header {
    display: block;
    margin-bottom: 14px;
}

.article-title {
    text-decoration: none;
    font-size: 2em;
    color: #565a5f;
    line-height: .5em;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s;
}

a {
    text-decoration: none;
}

.mat-icon {
    font-size: 16px;
}

.custom-paginator {
    background-color: #f5f8f9;
}

.fullwidth {
    width: 100%;
}
