/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


  
  .example-spacer {
    flex: 1 1 auto;
  }

  .outer {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .outer:before,
  .outer:after {
    content: "";
    display: table;
  }
  .outer:after {
    clear: both;
  }