@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@include mat-core();

$primary: mat-palette($mat-grey, 700);
$accent:  mat-palette($mat-blue-grey, 700, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);
$mat-font-family: 'Helvetica, Arial, sans-serif';

@include angular-material-theme($theme);


body {
    font-family: $mat-font-family;
    font-weight: normal;
    background-color: #f5f8f9;
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.capitalize {
    text-transform: capitalize; 
}

.outer {
    max-width: 1366px;
    margin: 0;
}
.outer:before,
.outer:after {
    content: "";
    display: table;
}
.outer:after {
    clear: both;
}