<div *ngIf="article">  
    <article class="article-list archive-type-post">
        <div class="article-list-inner">
            <div class="article-list-thumbnail">
                
                <a [routerLink]= "['/articles', article.url]" class="thumbnail">
                    <span class="thumbnail-image" [style.background-image]="bannerUrl">
                    </span>
                </a>
                
            </div>
            <header class="article-list-header">
                <h1 itemprop="name">
                <a class="article-list-title" [routerLink]= "['/articles', article.url]">{{ article.title }}</a>
                </h1>
                <span class="icon-content"><mat-icon>event_note</mat-icon>  {{article.publishDate | date: 'longDate'}}</span>  
                <span class="icon-content" *ngFor="let cat of article.categories">
                    <mat-icon>label</mat-icon> <a class="capitalize" [routerLink]="['/', cat]">{{cat}}</a>
                </span>
            </header>
        </div>
    </article>
</div>
